<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>controller.invoice.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/bills</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddController</servlet-name>
		<servlet-class>controller.invoice.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/bills/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewController</servlet-name>
		<servlet-class>controller.invoice.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/bills/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditController</servlet-name>
		<servlet-class>controller.invoice.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditController</servlet-name>
		<url-pattern>/bills/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>controller.invoice.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/bills/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexControllerRo</servlet-name>
		<servlet-class>controller.roles.IndexControllerRo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexControllerRo</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddControllerRo</servlet-name>
		<servlet-class>controller.roles.AddControllerRo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddControllerRo</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewControllerRo</servlet-name>
		<servlet-class>controller.roles.ViewControllerRo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewControllerRo</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditControllerRo</servlet-name>
		<servlet-class>controller.roles.EditControllerRo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditControllerRo</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteControllerRo</servlet-name>
		<servlet-class>controller.roles.DeleteControllerRo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteControllerRo</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexControllerU</servlet-name>
		<servlet-class>controller.users.IndexControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexControllerU</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>AddControllerU</servlet-name>
		<servlet-class>controller.users.AddControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddControllerU</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewControllerU</servlet-name>
		<servlet-class>controller.users.ViewControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewControllerU</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditControllerU</servlet-name>
		<servlet-class>controller.users.EditControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditControllerU</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteControllerU</servlet-name>
		<servlet-class>controller.users.DeleteControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteControllerU</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexControllerRe</servlet-name>
		<servlet-class>controller.resources.IndexControllerRe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexControllerRe</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddControllerRe</servlet-name>
		<servlet-class>controller.resources.AddControllerRe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddControllerRe</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewControllerRe</servlet-name>
		<servlet-class>controller.resources.ViewControllerRe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewControllerRe</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditControllerRe</servlet-name>
		<servlet-class>controller.resources.EditControllerRe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditControllerRe</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteControllerRe</servlet-name>
		<servlet-class>controller.resources.DeleteControllerRe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteControllerRe</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddControllerA</servlet-name>
		<servlet-class>controller.access.AddControllerA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddControllerA</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewControllerA</servlet-name>
		<servlet-class>controller.access.ViewControllerA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewControllerA</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditControllerA</servlet-name>
		<servlet-class>controller.access.EditControllerA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditControllerA</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteControllerA</servlet-name>
		<servlet-class>controller.access.DeleteControllerA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteControllerA</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexControllerA</servlet-name>
		<servlet-class>controller.access.IndexControllerA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexControllerA</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutControllerU</servlet-name>
		<servlet-class>controller.users.LogOutControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutControllerU</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginControllerU</servlet-name>
		<servlet-class>controller.users.LoginControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginControllerU</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>RegisterControllerU</servlet-name>
		<servlet-class>controller.users.RegisterControllerU</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterControllerU</servlet-name>
		<url-pattern>/users/register</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>